# 복습
<br>
파이썬
>기본 자료형(객체) : int, float, bool, str, complex <br> 집합 자료형(객체) : list, tuple, set, dict


--------------------------------------------------------------------------
객체 지향 언어(java..)
>기본 자료형 : 할당 연산자 = 를 이용해서 하나의 값 타입을 저장 <br> 참조 자료형 : 인스턴스, 객체.멤버변수, 객체.메서드..

int 
변수(객체) = 초기값(literal) 이때 이 값을 메모리에 저장


num = 300 일때

int클래스에서 type 메타클래스로 객체가 만들어지고 객체 내에 300이라는 값으로 초기화가 된다? <br>
(너무 낮은 값으로 하면 파이썬이 고유 생성하는 주소가 돼버려서 ㄴㄴ)

16진수 메모리주소 ex) 0x10000 를 num에 매핑 = 이때 num을 레퍼런스 변수?

객체는 인스턴스?

num = 300 (decimal)

binary 형식값 : 0b

Octal 형식값 : 0o

Hex 형식값 : 0x

In [4]:
num = 300

print(bin(num))   # 2진수로 출력

print(oct(num))   # 8진수로 출력

print(hex(num))   # 16진수로 출력

0b100101100
0o454
0x12c

float는 부동소수점 형식으로 저장 (가수부 + 진수부)

3.23456e-7 = IEEE

In [5]:
f = 3.23456e-7
print(f.__dict__)

AttributeError: 'float' object has no attribute '__dict__'

complex 는 3+4j ...

논리값은 bool 클래스로부터 객체 : True, False, 상수 객체

class bool(int) : 논리값은 정수와 호환

문자열 데이터는 str클래스로부터 객체가 만들어짐

문자열 데이터로 초기화된 객체는 생성된 문자열의 내용을 변경할 수 없음 (불변객체)

정수 + 실수 = 실수 (호환되기 때문에 자동형변환 : promotion, 작은거에서 큰거로 승진?)

정수 + bool = 정수

실수 + bool = 실수

정수 + 문자열 = TypeError, 강타입(자동으로 형변환이 안된다?) 그래서 명시적 형변환 필요

bool + 문자열 = TypeError

----------------------------------------------------------------------------
### 명시적 형변환
<br>
int(), bool(), float(), str(), complex() 등 생성자 함수로 명시적 형변환 가능

str(정수) + 문자열

str(bool) + 문자열

>작은 타입을 큰 타입으로 변환 : 자동, promotion <br>
큰 타입을 작은 타입으로 변환 : 수동, 정밀값 소실, 명시적, casting

### 연산자 종류

단항연산자 : 연산하면서 항의 개수가 하나

이항연산자 : 두 개

삼항연산자 : 세 개 (파이썬에는 없음)

> 단항 : not, ! (파이썬에는 없음), ~ (1의 보수) <br> 이항 : 산술연산자 ( /, //, % ), 비교연산자 ( ==, is, !=, is not, >=, <=, >, < ) 의 결과는 bool 값, 논리연산자 (and, or, not), 비트연산자( &, |, ^ ), 단축연산자( +=, -=, *= ... )

In [12]:
# 1은 0001, 보수는 뒤집어서 1110 
# 근데 맨 앞 비트가 sign 비트 
# 이 음수 binary를 십진수로 변환
# 0001 > 1110 > 거꾸로 최초의 1을 만날때까지 가다가 만나면 그 뒤에거는 걍 뒤집어비림? 0010

num = 1
print(~1)

-2

# 문장
프로그램 구현은 재료(데이터, 연산자)를 기준점을 결정한 후 반복횟수 설정해서 처리

<br>

------------------------------------------------------------------------------------

### 조건문 : 기준점 결정은 조건문으로 선언
1. 기준이 1개인 경우 True일때만 수행
> if 조건표현식: 
        True일때 수행 문장
        True일때 수행 문장
        ....
2. 기준이 1개인 경우 True일때와 False일때 서로 다른 수행을 해야 할 경우
> if 조건표현식: 
        True일때 수행 문장
        True일때 수행 문장
        ....
  else:
        false일때 수행 문장
        false일때 수행 문장
        ....
3. 기준이 여러개일때 하나의 기준만 만족되었을 때 수행되도록
> if 조건표현식:
        True일때 수행 문장
        ....
  elif 조건표현식:
        True일때 수행 문장
        ....
  else:
        false일때 수행 문장
        false일때 수행 문장
        ....
4. 기준이 여러개일때 2개 이상의 조건을 만족할때와 복합적으로 조건을 정의해서 수행해야 할 경우

    다중 if문, nested if문
```python
if 조건표현식: 
        if 조건표현식2 and 조건표현식 3:
            True일때 수행 문장
            True일때 수행 문장
        ....
  else:
        false일때 수행 문장
        false일때 수행 문장
        ....
```
------------------------------------------------------------

### 반복문

1. for 문 : 반복횟수를 알 때
```python
for 변수 in range():
    반복수행 문장
else :                         # 반복문이 정상 수행 완료된 경우 수행
    문장
```
    

2. while 문 : 반복수행 조건을 알 때
```python
while:
    반복수행 문장
```
```python
while True:
    무한 루프
```
3. do ~ while (python 지원안함)


4. range([start],end,[step]) : 정수값을 순차적으로 반환하는 객체 (iterable object)
> range(1,10) : 1,2,3,...,9<br>range(1,10,2) : 1,3,5,7,9<br>range(10,1,-1) : 9,8,7,...1

```python
for i in range(10,0,-1):
    print(i)
```
---

### 제어문

1. break : 반복문 내에서 특정 조건을 만족했을 때 더 이상 반복 수행하지 않고 **탈출**
2. continue : 반복문 내에서 특정 조건을 만족했을 때 반복 수행을 하지 않고 다음 회차로 진행됨, **건너뛰기**

In [19]:
import random

random.seed(0)
print(random.randrange(1,101))
print(random.randint(1,101))

50
98

# DAY 3

### 반복문 내부에 반복문 정의
2차원 구조의 데이터 처리에 용이

outer 반복문은 행 수 만큼 반복, inner 반복문은 열 수 만큼 반복

In [130]:
# 5행 4열

for row in range(0,5):
    for col in range(0,4):
        data = (row,col)                    # Tuple 객체로 만듬
        print(data, end=" ")
    print()

(0, 0) (0, 1) (0, 2) (0, 3)
(1, 0) (1, 1) (1, 2) (1, 3)
(2, 0) (2, 1) (2, 2) (2, 3)
(3, 0) (3, 1) (3, 2) (3, 3)
(4, 0) (4, 1) (4, 2) (4, 3)

In [131]:
# 연습

for row in range(0,5):
    for col in range(0,row+1):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [142]:
for row in range(5,0,-1):
    for col in range(row):
        print("*", end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

In [206]:
for row in range(1,6):
    for col in range(row-1):
        print(" ", end=" ")
    for col in range(6-row):
        print("*", end=" ")
    print()

* * * * *
  * * * *
    * * *
      * *
        *

In [207]:
for row in range(1,6):
    for col in range(5-row):
        print(" ", end=" ")
    for col in range(row):
        print("*", end=" ")
    print()

        *
      * *
    * * *
  * * * *
* * * * *

In [220]:
# 구구단 가로로

for i in range(1,10):
    for j in range(2,10):
        print(j,"*",i,'=',j*i,end="\t")

2 * 1 = 2	3 * 1 = 3	4 * 1 = 4	5 * 1 = 5	6 * 1 = 6	7 * 1 = 7	8 * 1 = 8	9 * 1 = 9	2 * 2 = 4	3 * 2 = 6	4 * 2 = 8	5 * 2 = 10	6 * 2 = 12	7 * 2 = 14	8 * 2 = 16	9 * 2 = 18	2 * 3 = 6	3 * 3 = 9	4 * 3 = 12	5 * 3 = 15	6 * 3 = 18	7 * 3 = 21	8 * 3 = 24	9 * 3 = 27	2 * 4 = 8	3 * 4 = 12	4 * 4 = 16	5 * 4 = 20	6 * 4 = 24	7 * 4 = 28	8 * 4 = 32	9 * 4 = 36	2 * 5 = 10	3 * 5 = 15	4 * 5 = 20	5 * 5 = 25	6 * 5 = 30	7 * 5 = 35	8 * 5 = 40	9 * 5 = 45	2 * 6 = 12	3 * 6 = 18	4 * 6 = 24	5 * 6 = 30	6 * 6 = 36	7 * 6 = 42	8 * 6 = 48	9 * 6 = 54	2 * 7 = 14	3 * 7 = 21	4 * 7 = 28	5 * 7 = 35	6 * 7 = 42	7 * 7 = 49	8 * 7 = 56	9 * 7 = 63	2 * 8 = 16	3 * 8 = 24	4 * 8 = 32	5 * 8 = 40	6 * 8 = 48	7 * 8 = 56	8 * 8 = 64	9 * 8 = 72	2 * 9 = 18	3 * 9 = 27	4 * 9 = 36	5 * 9 = 45	6 * 9 = 54	7 * 9 = 63	8 * 9 = 72	9 * 9 = 81

In [203]:
# \n = 줄 바꿈 \t = Tab 
print(" \n\t   Hello      wo\nrld!   \n\n\t\n  ")

	   Hello      wo
rld!

In [268]:
odd = []
even = [] 
for i in range(10):
    a = int(input("정수를 입력하세요"))
    if a % 2 == 0:
        even.append(a)
    else:
        odd.append(a)

print("홀수는",len(odd),"개 입니다.")
print("짝수는",len(even),"개 입니다.")

정수를 입력하세요1
정수를 입력하세요2
정수를 입력하세요3
정수를 입력하세요4
정수를 입력하세요5
정수를 입력하세요6
정수를 입력하세요7
정수를 입력하세요8
정수를 입력하세요9
정수를 입력하세요10
홀수는 5 개 입니다.
짝수는 5 개 입니다.

In [273]:
a = []
for i in range(100,1000):
    i_hundred = i // 100
    i_ten = i // 10 - (i_hundred * 10)
    i_one = i - (i_hundred * 100) - (i_ten * 10)
    if (i_hundred ** 3) + (i_ten ** 3) + (i_one ** 3) == i:
        a.append(i)
print(a)
print(len(a))

[153, 370, 371, 407]
4

In [270]:
for i in range(10,100):
    i_ten = i // 10
    i_one = i - (i_ten * 10)
    if i_ten == 0:
        continue
    else:
        j = i_ten * i_one
        j_ten = j // 10
        j_one = j - (j_ten * 10)
        if j_ten == 0:
            continue
        else:
            k = j_ten * j_one
            k_ten = k // 10
            k_one = k - (k_ten * 10)
            if k_ten == 0:
                continue
            else:
                l = k_ten * k_one
                l_ten = l // 10
                l_one = l - (l_ten * 10)
                if l_ten == 0 :
                    continue
                else:
                    print(i)

77

In [275]:
for num in range(10,100):
    k = num
    count = 0
    while(k > 9):
        k = k//10 * (k%10)
        count += 1
        
    if count >= 4:
        print("정수", num, "은 고집수 입니다.")

정수 77 은 고집수 입니다.

In [280]:
for i in range(1,101):
    for j in range(2, i+1):
        if i == j:
            print(i, end=" ")
        elif (i % j == 0):
            break

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

## 문자열의 이해
<br>

문자열은 시퀀스 자료형, 순서번호, 첨자, index - 0부터 시작
> a = "abcda"

문자열을 저장하기 위해서는 영문자 한 글자당 1바이트
> ASCII 문자셋 : A(65),a(97),0(48),엔터(13),스페이스바(10) <br> unicode : 전 세계의 문자를 단일 숫자셋으로 매핑 <br> utf-8 : 웹에서 사용 권장하는 문자셋 <br> utf-16, euc-kr, cp949..

encoding = 문자를 숫자로 바꾸는 것 (메모리에 저장, 처리 목적)

decoding = 숫자를 문자로 바꾸는 것 (가독성, 출력 목적)

## 문자열의 인덱싱
<br>

리스트처럼 글자 하나하나가 상대적인 주소(offset)를 가지는데, 이 주소를 사용해 할당된 값을 가져오는 인덱싱을 사용할 수 있다

## 문자열의 슬라이싱
<br>

문자열의 주소값을 기반으로 문자열의 부분값을 반환하는 기법이다.

## 문자열 연산

In [281]:
a = "TEAM"
b = "LAB"
print(a + " " + b)

print(a * 2 + " " + b * 2)

if "A" in a:
    print(a)
else:
    print(b)

TEAM LAB
TEAMTEAM LABLAB
TEAM

In [287]:
int_value = 2 
print("결과는" + int_value)   # 강타입 땜에 오류

# 강타입 : 정수+문자열 => TypeError

TypeError: can only concatenate str (not "int") to str

## 문자열 관련 함수

In [291]:
name = "korea"

print(dir(name))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [296]:
len(name)

5

In [297]:
name.upper()

'KOREA'

In [298]:
"DOLPHIN".lower()

'dolphin'

In [301]:
"believe in yourself".title()

'Believe In Yourself'

In [302]:
"believe in yourself".capitalize()

'Believe in yourself'

In [303]:
'where there is a will there is a way'.count('there')

2

In [304]:
'where there is a will there is a way'.find('there')

6

In [305]:
'where there is a will there is a way'.rfind('there')

22

In [306]:
'where there is a will there is a way'.startswith('there')

False

In [307]:
len('   korean    ')

13

In [313]:
len('    korean    '.strip())

6

In [314]:
'where there is a will there is a way'.split()

['where', 'there', 'is', 'a', 'will', 'there', 'is', 'a', 'way']

In [315]:
type('where there is a will there is a way'.split())

list

In [320]:
print('123abc'.isdigit())
print('123000'.isdigit())

False
True

In [322]:
s = "짜장 짬뽕 탕슉"
print(s.split())

s2 = "서울→대전→대구→부산"
city = s2.split("→")
print(city)
for c in city:
    print(c,"찍고",end=' ')

['짜장', '짬뽕', '탕슉']
['서울', '대전', '대구', '부산']
서울 찍고 대전 찍고 대구 찍고 부산 찍고

In [323]:
s = "._."
print(s.join("대한민국"))

대._.한._.민._.국

In [328]:
s = "독도는 일본땅이다. 대마도도 일본땅이다."
print(s)
print(s.replace("일본","한국"))

독도는 일본땅이다. 대마도도 일본땅이다.
독도는 한국땅이다. 대마도도 한국땅이다.

In [333]:
traveler = """강나루 건너서\n밀밭 길을\n\n구름에 달 가듯이\n가는 나그네\n길은 외줄기\n낭도 삼백리\n\n술 익는 마을마다\n타는 저녁놀\n구름에 달 가듯이\n가는 나그네"""
poet = traveler.splitlines()
for line in poet:
    print(line.center(30))

           강나루 건너서
            밀밭 길을

          구름에 달 가듯이
            가는 나그네
            길은 외줄기
            낭도 삼백리

          술 익는 마을마다
            타는 저녁놀
          구름에 달 가듯이
            가는 나그네

## 문자열(string) 포매팅(Formatting)
<br>

• 파이썬 3 버전부터는 문자열이 텍스트 기반인 유니코드로 처리되므로 문자열을 가지고 처리하는 포매팅도 텍스트 기반으로 처리된다.

• format함수와 문자열 자료형에 있는 format 메서드를 이용

• 파이썬 3버전부터는 f문자열을 사용해서 더 간단하게 출력이 가능

In [3]:
print('%s: %d' % ('나이', 30)) #문자열과 정수 출력
print('{}: {}'.format('나이', 30)) # %[-]폭[.유효자리수]서식

print('%f,%.2f' % (1.123, 1.123)) #실수 출력
print('{:f}, {:.2f}'.format(1.123, 1.123))

print('%o, %x, %X' % (10, 10, 10)) #진법 출력
print('{:b}, {:o}'.format(10, 10)) 
print('{:x}, {:X}'.format(10, 10))

print('|%5d|' % 123) #고정 길이 출력
print('|%5s|' % 'abc')
print('|{:5}|'.format(123))
print('|{:5}|'.format('abc'))

print('|%-5d|' % 123) # 고정 길이의 정렬
print('|%-5s|' % 'abc')
print('|{:<5}|'.format(123))
print('|{:>5}|'.format('abc'))
print('|{:^5}|'.format('abc'))

나이: 30
나이: 30
1.123000,1.12
1.123000, 1.12
12, a, A
1010, 12
a, A
|  123|
|  abc|
|  123|
|abc  |
|123  |
|abc  |
|123  |
|  abc|
| abc |

In [5]:
print('|%05d|' % 123) #여백 채우기
print('|{:05}|'.format(123))
print('|{:_>5}|'.format('abc'))
print('|{:-^5}|'.format('abc'))

print('{:,}'.format(1000000)) #정수, 실수 단위 구분
print('{:,.2f}'.format(1000000))

|00123|
|00123|
|__abc|
|-abc-|
1,000,000
1,000,000.00